.wrapper {
    width: 100%;
    display: flex;
    height: 110vh;
    z-index: 1;
    flex-direction: column;
    position: relative;
}

.section_hero {
    width: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-start;
}

.block_chara {
    width: 40%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

.block_logo {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
    flex-flow: column;
    padding: 10% 10% 10% 10%;
    transform: translateX(-35px);
}

.titleContainer {
    color: #ff9009;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-family: "Londrina Solid", sans-serif;
    font-weight: bold;
    font-size: 10vw;
    letter-spacing: 10px;
}

.coinTitle {
    text-shadow: 2px 2px #000;
}


.galien {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 40%;
    max-width: 800px;


}

.galienCoin {
    width: 150px;
    padding-right: 15px;
}

@media screen and (min-width: 1080px) {
    .titleContainer {
        font-size: 125px;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        flex-direction: row;
    }

    .block_logo {
        margin-top: 30px;
    }

    .galienCoin {
        width: 20vw;
    }

    .wrapper {
        height: 125vh;
    }

    .titleContainer {
        color: #ff9009;
        font-family: "Londrina Solid", sans-serif;
        text-shadow: 2px 2px #000;
        letter-spacing: 2px;
        font-size: 75px;
    }
}